.NavebarHome {
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
}


.NameHome {
    width: 20%;
    font-size: 2em;



}


.ButtonHome {
    width: 80%;
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 30px;
    padding: 0.7%;
}

.ButtonHome>a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    font-weight: 600;
    text-decoration: none;
}

.ButtonHome>a:before {
    content: '';
    position: absolute;
    bottom: -2px;
    height: 6px;
    width: 0;
    background-color: #dd6d17;
    border-radius: 50px;
    transition: width 0.3s ease;
}

a:hover::before {
    width: 100%;
}